<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hoangquangdev">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/qlKhuVuc"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyQuanCafe"
        android:windowSoftInputMode="stateHidden">
        <activity
            android:name=".Ban_ThuNgan"
            android:exported="false" />
        <activity
            android:name=".Main_thuNgan"
            android:exported="false" />
        <activity
            android:name=".Main_Bep"
            android:exported="false" />
        <activity
            android:name=".Main_QL_DoanhThu"
            android:exported="false" />
        <activity
            android:name=".Super_QLKV"
            android:exported="true" />
        <activity
            android:name=".MainQLNhanVien"
            android:exported="true" />
        <activity
            android:name=".MainQLSP"
            android:exported="true" />
        <activity
            android:name=".MainBan"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainQLBan"
            android:exported="true" />
        <activity
            android:name=".MainQLKV"
            android:exported="true" />
        <activity
            android:name=".MainThanhToan"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>